@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider2{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/static/images/main4.gif');
  background-repeat: no-repeat;  
  background-position: 0% 0%;
  background-size: 100% 100%;
  height: 95.3vh;
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 2px 50px gainsboro;  
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 1s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}
/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 5s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.header_main {
    background: #206a5d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    margin-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgba(0,0,0,.87);
    animation: animIntro 3.5s steps(23,end),
               animBar 1s step-end infinite;
}
.a1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgba(0,0,0,.87);
    animation: animIntro 3.5s steps(23,end),
               animBar 1s step-end infinite;
}
.a2 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgba(0,0,0,.87);
    animation: animIntro 3.5s steps(23,end),
               animBar 1s step-end infinite;
}

@keyframes animIntro {
  0%{width: 0;}
  100%{width: 265px;}
}
@keyframes animBar {
  0%,100%{border-color: rgba(0,0,0,0);}
  50%{border-color: rgba(0,0,0..87)}
}

.navdiv ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    margin-left: 3rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}

ul li a:last-child {
    margin-right: 2rem;
}

.back-image {
    background-image: url('farmer.jpg');
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 100%;
    height: 95.3vh;
}

.quote {
    font-size: 2rem;
}